.go {
  position: fixed;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1001;
}
.more {
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 1001;
  animation: move01 0.3s ease-in-out infinite alternate;
}
.content {
  width: 900px;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  /* margin-left: -450px; */
  transform: translate(-50%);
}
.screen01 {
  /* no-repeat center bottom 分别是：不重复 x轴左右居中 底部对齐 */
  background: url("../images/01-bg.png") no-repeat center bottom;
}
.screen01 .goods {
  margin-top: 150px;
  text-align: center;
}
.screen01 .sofa {
  position: absolute;
  top: 100px;
  left: 150px;
  animation: move01 0.5s ease-in-out infinite alternate;
}
.screen01 .fly {
  position: absolute;
  top: 10px;
  right: -50px;
  animation: fly01 0.6s ease-in-out infinite alternate;
}
/* 第一屏动画 */
@keyframes fly01 {
  from {
    transform: translate(0, -15px);
  }
  to {
    transform: translate(0, 15px);
  }
}
@keyframes move01 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 15px);
  }
}
.screen02 {
  background: url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .goods {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  transform-origin: right bottom;
  transform: scale(0);
}
.screen02 .sofa {
  position: absolute;
  left: 292px;
  top: 132px;
  transform: scale(0.5);
}
.screen02 .input {
  position: absolute;
  right: 171px;
  top: 120px;
  transform-origin: right top;
  transform: scale(0.7);
}
/* .screen02 .input .search {
} */
.screen02 .input .key {
  position: absolute;
  top: 5px;
  left: 120px;
  transform: translate(-50%);
}
.screen02 .text {
  text-align: center;
}
/* .screen02 .text .text01 {
} */
.screen02 .text .text02 {
  position: absolute;
  opacity: 0;
}
/* 第二屏动画 */
.screen02.now .text .text01 {
  position: absolute;
  opacity: 0;
}
.screen02.now .text .text02 {
  position: static;
  opacity: 1;
  transition: opacity 1s;
}
.screen02.now .goods {
  transform: none;
  transition: all 1s linear 2s;
}
